<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.dixon.facorites">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Facorites.AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".page.image.ImageActivity"
            android:exported="false" />
        <activity
            android:name=".page.crop.CropActivity"
            android:exported="false" />
        <activity android:name=".page.browse.BrowseActivity" />
        <activity android:name=".page.entry.EntryActivity" />
        <activity
            android:name=".page.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 图片 -->
            <intent-filter android:label="收藏">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <!-- 文字 -->
            <intent-filter android:label="收藏">
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- 多图 -->
            <intent-filter android:label="收藏">
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>